name: Test Build
on: [ pull_request ]
  
env:
  CARGO_TERM_COLOR: always

jobs:
  testbuild:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libgtk-3-dev \
            libxdo-dev \
            libappindicator3-dev

      - name: Build
        run: cargo build --verbose
